.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
  position: relative;
     left: 490px;
     top: 590px;
}


.leaflet-control-scale-line {

 position: relative;
    left: 420px;
}



.btn-secondary{
  border: 2px solid #4CAF50;
}

  #tablinks3{

     color: white;
  display: inline-block;
  padding: 5px 6px 12px;
  padding-left: 6px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #2288ee;
    position: relative;
    left: 20px;


  }



  #tablinks4{

     color: white;
  display: inline-block;
  padding: 5px 6px 12px;
  padding-left: 2px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #2288ee;
    position: relative;
    left: 20px;

  }

  #sidebar-text2{

    right: 10%;
    background-color: blue;


  }

  #layers {
          position: absolute;
          top: 20px;
          right: 20px;
      }
      .layer_selector {
          background: rgba(255,255,255,0.9);
          border-radius: 5px;
          padding: 0;
          border: 1px solid #999;
          width: 250px;
      }

      .layer_selector > p {
          padding: 15px 30px;
          border-bottom: 1px solid #999;
      }

      .layer_selector ul {
          padding: 0; margin: 0;
          list-style-type: none;
      }
      .layer_selector li {
          padding: 15px 30px;
          font-family: Helvetica, Arial;
          font-size: 13px;
          color: #444;
          cursor: pointer;
      }
      .layer_selector li:not(:last-child) {
          border-bottom: 1px solid #999;
      }
      .layer_selector li:hover {
          background-color: #F0F0F0;
          cursor: pointer;
      }
      .layer_selector li.selected {
          background-color: #A6CEE3;
      }








.commLandButton.active {
    color: red;
}

.commLandButton.inactive {
    color: black;
}


.button {
    display:inline-block;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
}


/*
var blueGrey = '#a6cee3';
var darkBlue = '#1f78b4';
var greenWhite = '#b2df8a';
var darkGreen = '#33a02c';
var salmonPink = '#fb9a99';
var darkRed = '#e31a1c';
var lightOrange = '#fdbf6f'; commLand
var darkOrange = '#ff7f00';
var lightPurple = '#cab2d6';
var darkPurple = '#6a3d9a';
var lightYellow = '#ffff99';
var brown = '#b15928';
colors for marker groups*/

/*

.leaflet-popup {
            margin-right: 47px;
            background-color: lightblue;

        }

.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}

        .leaflet-popup-content {
            max-width: 300px;
            height: 70px;
            margin-right: 10px;
            overflow:  auto;

            font-size: 90%;
             text-align: center;
             padding: 1em;

        }

         #map {
          position: absolute;
          top:0px; bottom:0; right:0; left:0;
         }

    #info-pane {
    position: left;
    height: 550px;
    top: 0px;
    right: 10px;
    z-index: 400;
    padding: 1em;
    background: white;
    text-align: right;
     font-weight: bold;
      font-size: 110%;
       text-align: center;
  }

  #sidebar {
    position: absolute;
    height:  650px;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 1em;
    background: white;
  }

  .sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000; }
  .sidebar.collapsed {
    width: 40px; }
 @media (max-width: 767px) {
    .sidebar {
      width: 250px; } }
  @media (min-width: 768px) {
    .sidebar {
      top: 10px;
      bottom: 10px;
      transition: width 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
      width: 350px; } }
  @media (min-width: 1200px) {
    .sidebar {
      width: 300px; } }

.sidebar-left {
  left: 0; }
  @media (min-width: 768px) {
    .sidebar-left {
      left: 10px; } }

.sidebar-right {
  right: 0; }
  @media (min-width: 768px) {
    .sidebar-right {
      right: 10px; } }

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff; }
  .sidebar-left .sidebar-tabs {
    left: 0; }
  .sidebar-right .sidebar-tabs {
    right: 0; }
  .sidebar-tabs, .sidebar-tabs > ul {
    position: absolute;
    width: 40px;
    margin: 0;
    padding: 0; }
    .sidebar-tabs > li, .sidebar-tabs > ul > li {
      width: 100%;
      height: 40px;
      color: #47a23d;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms; }
      .sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
        color: #000;
        background-color: #eee; }
      .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
        color: #fff;
        background-color: #47a23d; }
      .sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
        color: rgba(51, 51, 51, 0.4); }
        .sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: inherit;
        text-decoration: none;
        text-align: center; }
  .sidebar-tabs > ul + ul {
    bottom: 0; }

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  overflow-y: auto; }
  .sidebar-left .sidebar-content {
    left: 40px;
    right: 0; }
  .sidebar-right .sidebar-content {
    left: 0;
    right: 40px; }
  .sidebar.collapsed > .sidebar-content {
    overflow-y: hidden; }

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; }
  .sidebar-pane.active {
    display: block; }
  @media (max-width: 767px){
    .sidebar-pane {
      min-width: 385px; }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
      min-width: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
      min-width: 350px; } }
  @media (min-width: 1200px) {
    .sidebar-pane {
      min-width: 340px; } }

.sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #fff;
  background-color: #47a23d; }
  .sidebar-right .sidebar-header {
    padding-left: 40px; }

  @media (max-width: 767px){
    .sidebar-header {
        font-size: 12pt;
    }
  }

.sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  .sidebar-left .sidebar-close {
    right: 0; }
  .sidebar-right .sidebar-close {
    left: 0; }

.sidebar-left ~ .sidebar-map {
  margin-left: 40px; }
  @media (min-width: 768px) {
    .sidebar-left ~ .sidebar-map {
      margin-left: 0; } }

.sidebar-right ~ .sidebar-map {
  margin-right: 40px; }
  @media (max-width: 767px) {
      .sidebar-right ~ .sidebar-map {
      margin-right: 0; }
  }
  @media (min-width: 768px) {
    .sidebar-right ~ .sidebar-map {
      margin-right: 0; } }

.sidebar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }
  .sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 2px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .sidebar {
      border-radius: 4px; }
      .sidebar.leaflet-touch {
        border: 2px solid rgba(0, 0, 0, 0.2); } }

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    transition: left 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 400px; } }

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 470px; } }

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
    left: 50px; } }

@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    transition: right 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 400px; } }

@media (min-width: 1200px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 315px; } }

@media (min-width: 768px) {
  .sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
    right: 50px; } }*/
